footer.foooter
	.footer__body
		.container
			.row
				.col-xs-6.col-xs-offset-3
					.footer__about
						.logo
							a(href="#")
								img(src="img/logo-white.png" alt="exe")
						p.
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						.copy
							&copy; 2015 èxe, All Right Reserved 
							a(href="#") ThemeFire <br>
							Only for 
							a(href="#") Envato Market

	.footer__bottom
		.container
			.row
				ul.payments-list
					li.payments-list__item
						a(href="#")
							img(src="../img/pay/paypal.png" alt="")
					li.payments-list__item
						a(href="#")
							img(src="../img/pay/visa.png" alt="")
					li.payments-list__item
						a(href="#")
							img(src="../img/pay/mastercard.png" alt="")
					li.payments-list__item
						a(href="#")
							img(src="../img/pay/skrill.png" alt="")
					li.payments-list__item
						a(href="#")
							img(src="../img/pay/payoneer.png" alt="")