//BEGIN header
header.header.header_center
	.container
		.header__top
			.logo
				a(href="#")
					img(src="img/logo-black.png" alt="exe")
		.header__body
			nav.nav
				a(href="#") Home
				a(href="#" class="is-active") Women
				a(href="#") Men
				a(href="#") Shoes
				a(href="#") Accessories
				a(href="#") Sale Off
				a(href="#") Collections
				a(href="#") Contacts
		.header__footer
			ul.u-list
				li.u-list__item
					button(type="button" class="user")
						i.icon-user
				li.u-list__item
					button(type="button" class="wishlist")
						i.icon-wishlist
				li.u-list__item
					button(type="button" class="cart is-full")
						i.icon-cart
						.cart__goods
							span 2
				li.u-list__item
					button(type="button" class="search")
						i.icon-search
//END header