extends _layout

block title
	title Title of template

block content
	include includes/header.jade
	//BEGIN top
	.top
		.main-slider.js-main-slider
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.

	//END top
	//BEGIN category
	.category
		.container
			.row
				.col-xs-6
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-1.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s NYC Street <br>
								span.title_bright Style
				.col-xs-6
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-2.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s New Men <br>
								span.title_bright Collection
	//END category
	include includes/footer.jade