extends _layout

block title
	title Title of template

block content
	include includes/header.jade
	//BEGIN top
	.top
		.main-slider.js-main-slider
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
	//END top
	//BEGIN category
	.category
		.container
			.row
				.col.col--6-of-12
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-1.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s NYC Street <br>
								span.title_bright Style
				.col.col--6-of-12
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-2.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s New Men <br>
								span.title_bright Collection
	//END category
	//BEGIN section
	section.section
		.container
			.section__top
				h3.title.title_medium.title_dark Featured Products
				p.
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			.section__body
				.featured.js-slider
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product1.jpg", alt="")
									.badge
										.badge__item.is-new new
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_old $58.00
									.price $72.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product2.jpg", alt="")
									.badge
										.badge__item.is-sale sale
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_old $58.00
									.price.price_new $58.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product3.jpg", alt="")
									.badge
										.badge__item.is-hot hot
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price $72.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product4.jpg", alt="")
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_new $999.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product1.jpg", alt="")
									.badge
										.badge__item.is-new new
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_old $58.00
									.price $72.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product2.jpg", alt="")
									.badge
										.badge__item.is-sale sale
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_old $58.00
									.price.price_new $58.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product3.jpg", alt="")
									.badge
										.badge__item.is-hot hot
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price $72.00
					.featured__item
						.item
							.item__pic
								a(href="#")
									img(src="img/home-1/product4.jpg", alt="")
							.item__body
								.item__title
									a(href="#") Product Title Here
								.item__price
									.price.price_new $999.00

	//END section
	//BEGIN banner
	.banner
		.container
			.banner__text
				h2.title.title_ultra-bold.title_very-large Free Shipping On All <br>
					span.title.title_ultra-bold.title_large.title_bright Orders Over $60
	//END banner
	//BEGIN section
	section.section
		.container
			.section__top
				h3.title.title_medium.title_dark We Recommend You
				p.
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			.section__body
				.we-recommend
					.row
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product5.jpg", alt="")
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price $230.99
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product6.jpg", alt="")
										.badge
											.badge__item.is-hot hot
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price $72.00
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product7.jpg", alt="")
										.badge
											.badge__item.is-sale sale
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price.price_old $58.00
										.price $72.00
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product8.jpg", alt="")
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price.price_new $99.00
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product9.jpg", alt="")
										.badge
											.badge__item.is-sale sale
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price $99.00
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product10.jpg", alt="")
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price.price_old $58.00
										.price $72.00
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product11.jpg", alt="")
										.badge
											.badge__item.is-new new
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price $999.
						.col.col--3-of-12
							.item
								.item__pic
									a(href="#")
										img(src="img/home-1/product12.jpg", alt="")
										.overlay
										ul.u-list
											li.u-list__item
												button(type="button" class="wishlist")
													i.icon-wishlist
											li.u-list__item
												button(type="button" class="cart is-full")
													i.icon-cart
										.rating
											.star.is-active
											.star.is-active
											.star.is-active
											.star.is-active
											.star
								.item__body
									.item__title
										a(href="#") Product Title Here
									.item__price
										.price.price_old $58.00
										.price $72.00
						a(href="#" class="more-link") Load More Products
	//END section
	//BEGIN newsletter
	.newsletter
		.container
			.newsletter__top
				.row
					.col.col--4-of-12.col--centered
						h2.title.title_medium Sign Up For Our Monthly <span>Newsletter</span>
			.newsletter__content
				.row
					.col.col--6-of-12.col--centered
						form(method="GET" action="" class="form")
							.form-row
								input(type="email" class="input" placeholder="Your Email Address")
								input(type="submit" value="Subscribe Now" class="btn btn-danger")
						p * Lorem ipsum dolor consectetuer adipiscing elit.


	//END newsletter
	//BEGIN brands
	.brands-wrp
		.container
			.brands.js-slider-brands
				.brands__item
					img(src="img/brands/brand1.png", alt="")
				.brands__item
					img(src="img/brands/brand2.png", alt="")
				.brands__item
					img(src="img/brands/brand3.png", alt="")
				.brands__item
					img(src="img/brands/brand4.png", alt="")
				.brands__item
					img(src="img/brands/brand5.png", alt="")
				.brands__item
					img(src="img/brands/brand1.png", alt="")
				.brands__item
					img(src="img/brands/brand2.png", alt="")
				.brands__item
					img(src="img/brands/brand3.png", alt="")
				.brands__item
					img(src="img/brands/brand4.png", alt="")
				.brands__item
					img(src="img/brands/brand5.png", alt="")
	//END brands
	include includes/footer.jade