extends _layout

block title
	title Title of template

block content
	include includes/header.jade
	//BEGIN category
	.category
		.container
			.row
				.col-xs-6
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-1.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s NYC Street <br>
								span.title_bright Style
				.col-xs-6
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-2.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s New Men <br>
								span.title_bright Collection
	//END category
	include includes/footer.jade