extends _layout

block title
	title Title of template

block content
	include includes/header.jade
	//BEGIN top
	.top
		.main-slider.js-main-slider
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
			.main-slider__item
				img(src="img/home-1/main-slider-image.jpg", alt="")
				.slogan
					.slogan__in
						.slogan__top
							img(src="img/home-1/slogan.png", alt="")
						.slogan__body
							h1.title.title_ultra-large.title_bold Collections
							h2.title.title_large-x.title_bold London 
								span.title_bright Street Style
						.slogan__bottom
							p.
								Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
	//END top
	//BEGIN category
	.category
		.container
			.row
				.col.col--6-of-12
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-1.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s NYC Street <br>
								span.title_bright Style
				.col.col--6-of-12
					a(href="#" class="category__unit" style="background: url(img/home-1/categories-photo-2.jpg")
						.category__unit-text
							h2.title.title_bold.title_medium-s New Men <br>
								span.title_bright Collection
	//END category
	//BEGIN featured
	.featured
		.container
			.row
				.featured__top
					h3.title.title_medium.title_dark Featured Products
					p.
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
				.featured-products.js-slider
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product1.jpg", alt="")
								.badge
									.badge__item.is-new new
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_old $58.00
									.price $72.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product2.jpg", alt="")
								.badge
									.badge__item.is-sale sale
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_old $58.00
									.price.price_new $58.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product3.jpg", alt="")
								.badge
									.badge__item.is-hot hot
							.item__body
								.item__title Product Title Here
								.item__price
									.price $72.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product4.jpg", alt="")
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_new $999.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product1.jpg", alt="")
								.badge
									.badge__item.is-new new
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_old $58.00
									.price $72.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product2.jpg", alt="")
								.badge
									.badge__item.is-sale sale
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_old $58.00
									.price.price_new $58.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product3.jpg", alt="")
								.badge
									.badge__item.is-hot hot
							.item__body
								.item__title Product Title Here
								.item__price
									.price $72.00
					.featured-products__item
						.item
							.item__pic
								img(src="img/home-1/product4.jpg", alt="")
							.item__body
								.item__title Product Title Here
								.item__price
									.price.price_new $999.00

	//END featured
	//BEGIN banner
	.banner
		.container
			.banner__text
				h2.title.title_ultra-bold.title_very-large Free Shipping On All <br>
					span.title.title_ultra-bold.title_large.title_bright Orders Over $60
	//END banner
	//BEGIN brands
	.brands-wrp
		.container
			.brands.js-slider-brands
				.brands__item
					img(src="img/brands/brand1.png", alt="")
				.brands__item
					img(src="img/brands/brand2.png", alt="")
				.brands__item
					img(src="img/brands/brand3.png", alt="")
				.brands__item
					img(src="img/brands/brand4.png", alt="")
				.brands__item
					img(src="img/brands/brand5.png", alt="")
				.brands__item
					img(src="img/brands/brand1.png", alt="")
				.brands__item
					img(src="img/brands/brand2.png", alt="")
				.brands__item
					img(src="img/brands/brand3.png", alt="")
				.brands__item
					img(src="img/brands/brand4.png", alt="")
				.brands__item
					img(src="img/brands/brand5.png", alt="")
	//END brands
	include includes/footer.jade